---
import MainLayout from '../layouts/MainLayout.astro';
import SamiApp from '../components/SamiApp';
---

<MainLayout title="SamiHermes AI - Foundations">
	<main>
    <SamiApp client:load />
  </main>
</MainLayout>
